<a href="https://colab.research.google.com/github/Aqiayudha/CheckPoint-1-Data-Gathering-Business-Understanding/blob/main/CHECK_POINT_SATU_YUDHA%2C_DATASET_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/MyDrive/DataPenjualanMotor (2).csv'

In [6]:
df = pd.read_csv(path)

In [7]:
df.head(15)

   CABANG;PROPINSI;NO ORDER;TANGGAL;SUMBER;SERIES;HARGA JUAL;DISKON;JENIS BAYAR
0   FKH MAMUJU;SULAWESIBARAT;BTDMMJ220400053;4-May...
1   FKH SAMARINDA;KALIMANTANTIMUR;BTDSRI220400078;...
2   FKH SUKABUMI;JAWABARAT;BTDSKB220400168;4-May-2...
3   FKH KLUNGKUNG;BALI;BTDKLG220500001;6-May-22;OF...
4   FKH KLUNGKUNG;BALI;BTDKLG220500002;4-May-22;OF...
5   FKH BANGLI;BALI;BTDBGL220400071;4-May-22;OFFLI...
6   FKH BANGLI;BALI;BTDBGL220400085;4-May-22;OFFLI...
7   FKH NEGARA;BALI;BTDNGR220500002;4-May-22;OFFLI...
8   FKH KLUNGKUNG;BALI;BTDKLG220400053;4-May-22;ON...
9   FKH KLUNGKUNG;BALI;BTDKLG220500003;5-May-22;OF...
10  FKH KLUNGKUNG;BALI;BTDKLG220500004;5-May-22;OF...
11  FKH KLUNGKUNG;BALI;BTDKLG220500005;4-May-22;OF...
12  FKH BANGLI;BALI;BTDBGL220400079;4-May-22;OFFLI...
13  FKH PAGAR ALAM;SUMATERASELATAN;BTDPGA220500002...
14  FKH BANGLI;BALI;BTDBGL220400060;5-May-22;OFFLI...

In [8]:
df.tail(15)

     CABANG;PROPINSI;NO ORDER;TANGGAL;SUMBER;SERIES;HARGA JUAL;DISKON;JENIS BAYAR
4606  FKH TENGARAN;JAWATENGAH;BTDTGA220500014;31-May...
4607  FKH SALATIGA;JAWATENGAH;BTDSLG220500167;31-May...
4608  FKH CILACAP;JAWATENGAH;BTDCLP220500112;31-May-...
4609  FKH SALATIGA;JAWATENGAH;BTDSLG220500163;31-May...
4610  FKH SUKOHARJO;JAWATENGAH;BTDSKH220500024;31-Ma...
4611  FKH SALATIGA;JAWATENGAH;BTDSLG220500096;31-May...
4612  FKH SAYUNG;JAWATENGAH;BTDSYG220500019;31-May-2...
4613  FKH FKH KEDAWUNG;JAWATENGAH;BTDKDW220500018;31...
4614  FKH SUKOHARJO;JAWATENGAH;BTDSKH220500051;31-Ma...
4615  FKH MAOS;JAWATENGAH;BTDMOS220500019;31-May-22;...
4616  FKH SRAGEN;JAWATENGAH;BTDSRG220500052;31-May-2...
4617  FKHC GROGOL;JAWATENGAH;BTDGRO220500027;31-May-...
4618  FKH SUKOHARJO;JAWATENGAH;BTDSKH220500100;31-Ma...
4619  FKH KEMIRI;JAWATENGAH;BTDKMR220500001;31-May-2...
4620  FKH BANTUL;DAERAHISTIMEWAYOGYAK;BTDBTL22050002...

In [9]:
df

     CABANG;PROPINSI;NO ORDER;TANGGAL;SUMBER;SERIES;HARGA JUAL;DISKON;JENIS BAYAR
0     FKH MAMUJU;SULAWESIBARAT;BTDMMJ220400053;4-May...
1     FKH SAMARINDA;KALIMANTANTIMUR;BTDSRI220400078;...
2     FKH SUKABUMI;JAWABARAT;BTDSKB220400168;4-May-2...
3     FKH KLUNGKUNG;BALI;BTDKLG220500001;6-May-22;OF...
4     FKH KLUNGKUNG;BALI;BTDKLG220500002;4-May-22;OF...
...                                                 ...
4616  FKH SRAGEN;JAWATENGAH;BTDSRG220500052;31-May-2...
4617  FKHC GROGOL;JAWATENGAH;BTDGRO220500027;31-May-...
4618  FKH SUKOHARJO;JAWATENGAH;BTDSKH220500100;31-Ma...
4619  FKH KEMIRI;JAWATENGAH;BTDKMR220500001;31-May-2...
4620  FKH BANTUL;DAERAHISTIMEWAYOGYAK;BTDBTL22050002...

[4621 rows x 1 columns]

**1. Business Objective**
Tujuan utama dari proyek bisnis ini adalah untuk meningkatkan performa penjualan dan efektivitas strategi pemasaran sepeda motor di seluruh cabang perusahaan dengan mengoptimalkan manajemen stok berdasarkan tren permintaan di setiap provinsi. Melalui analisis ini, perusahaan ingin memahami model kendaraan yang paling diminati, mengukur sejauh mana pemberian diskon mampu mendorong volume penjualan, serta memetakan preferensi metode pembayaran pelanggan guna menyusun strategi promosi yang lebih *personal* dan tepat sasaran di masa mendatang.

**2. Assess Situation**
Situasi saat ini menunjukkan bahwa perusahaan memiliki data transaksi yang cukup *detail* dari berbagai wilayah di Indonesia selama periode Mei 2022, namun data tersebut belum dimanfaatkan secara maksimal untuk pengambilan keputusan strategis. Meskipun *dataset* mencakup variabel penting seperti lokasi cabang, jenis motor, harga, dan metode pembayaran, terdapat beberapa tantangan seperti adanya variasi rentang harga yang lebar antar unit serta adanya data dengan nilai diskon nol yang perlu dikaji lebih dalam untuk melihat pola perilaku konsumen di tiap daerah yang berbeda karakter ekonominya.

**3. Analytic Goals / Project Plan**
Rencana analitik akan difokuskan pada pengolahan data untuk menghasilkan wawasan deskriptif mengenai total pendapatan per wilayah serta melakukan segmentasi pasar guna mengidentifikasi unit motor paling laris di saluran penjualan *online* maupun *offline*. Proyek ini akan dilaksanakan dalam beberapa tahapan mulai dari pembersihan data agar siap olah, eksplorasi hubungan antara besaran diskon dengan keputusan pembelian, hingga pembuatan visualisasi performa cabang yang akan diakhiri dengan pemberian rekomendasi strategis mengenai alokasi unit dan jenis pembiayaan yang paling efektif untuk meningkatkan profitabilitas perusahaan.